In [2]:
import sqlite3
import numpy as np
import pandas as pd

In [24]:
info = pd.read_csv('Book1.csv')
con = sqlite3.connect("C:/Users/Cameron/Documents/Java Projects/Pokedex/pokeDatabase.db")
cur = con.cursor()
for i in range(151):
    type1 = info['type1'][i]
    type2 = info['type2'][i]
    ability1 = info['ability1ID'][i]
    ability2 = info['ability2ID'][i]
    hiddenAbility = info['hiddenAbilityID'][i]
    
    type2ID = -1
    ability2ID = -1
    hiddenAbilityID = -1
    
    type1ID = con.execute("SELECT typeID FROM Types WHERE name = \"" + type1 + "\"").fetchone()[0]
    if(isinstance(type2, str)):
        type2ID = con.execute("SELECT typeID FROM Types WHERE name = \"" + type2 + "\"").fetchone()[0]
    
    ability1ID = con.execute("SELECT abilityID FROM Abilities WHERE name = \"" + ability1 + "\"").fetchone()[0]
    if(isinstance(ability2, str)):
        ability2ID = con.execute("SELECT abilityID FROM Abilities WHERE name = \"" + ability2 + "\"").fetchone()[0]
    if(isinstance(hiddenAbility, str)):
        hiddenAbilityID = con.execute("SELECT abilityID FROM Abilities WHERE name = \"" + hiddenAbility + "\"").fetchone()[0]
    
    command = "INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES ("
    command += str(info['dexNum'][i]) + ", "
    command += "\"" + info['name'][i] + "\", "
    command += "\"" + info['species'][i] + "\", "
    command += str(type1ID) + ", "
    
    if(type2ID != -1):
        command += str(type2ID) + ", "
    else:
        command += "NULL, "
        
    command += str(ability1ID) + ", "
    
    if(ability2ID != -1):
        command += str(ability2ID) + ", "
    else:
        command += "NULL, "
        
    if(hiddenAbilityID != -1):
        command += str(hiddenAbilityID) + ", "
    else:
        command += "NULL, "
        
    command += str(info['height'][i]) + ", "
    command += str(info['weight'][i]) + ");"
    
    print(command)
    con.execute(command)
    
con.commit()
con.close()

INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (1, "Bulbasaur", "Seed", 12, 4, 65, NULL, 34, 0.7, 6.9);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (2, "Ivysaur", "Seed", 12, 4, 65, NULL, 34, 1.0, 13.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (3, "Venusaur", "Seed", 12, 4, 65, NULL, 34, 2.0, 100.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (4, "Charmander", "Lizard", 10, NULL, 66, NULL, 94, 0.6, 8.5);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (5, "Charmeleon", "Flame", 10, NULL, 66, NULL, 94, 1.1, 19.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (6, "Charizard", "Flame", 10, 3, 66, NULL, 94, 1.7, 90.5);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (7, "Squirtle", "Tiny Turtle", 11, NULL, 67, NULL, 44, 0.5, 9.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (8, "Wartortle", "Turtle", 11, NULL, 67, NULL, 44, 1.0, 22.5);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (9, "Blastoise", "Shellfish", 11, NULL, 67, NULL, 44, 1.6, 85.5);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (10, "Caterpie", "Worm", 7, NULL, 19, NULL, 50, 0.3, 2.9);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (11, "Metapod", "Cocoon", 7, NULL, 61, NULL, NULL, 0.7, 9.9);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (12, "Butterfree", "Butterfly", 7, 3, 14, NULL, 110, 1.1, 32.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (13, "Weedle", "Hairy Bug", 7, 4, 19, NULL, 50, 0.3, 3.2);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (14, "Kakuna", "Cocoon", 7, 4, 61, NULL, NULL, 0.6, 10.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (15, "Beedrill", "Poison Bee", 7, 4, 68, NULL, 97, 1.0, 29.5);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (16, "Pidgey", "Tiny Bird", 1, 3, 51, 77, 145, 0.3, 1.8);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (17, "Pidgeotto", "Bird", 1, 3, 51, 77, 145, 1.1, 30.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (18, "Pidgeot", "Bird", 1, 3, 51, 77, 145, 1.5, 39.5);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (19, "Rattata", "Mouse", 1, NULL, 50, 62, 55, 0.3, 3.5);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (20, "Raticate", "Mouse", 1, NULL, 50, 62, 55, 0.7, 18.5);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (21, "Spearow", "Tiny Bird", 1, 3, 51, NULL, 97, 0.3, 2.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (22, "Fearow", "Beak", 1, 3, 51, NULL, 97, 1.2, 38.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (23, "Ekans", "Snake", 4, NULL, 22, 61, 127, 2.0, 6.9);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (24, "Arbok", "Cobra", 4, 4, 22, 61, 127, 3.5, 65.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (25, "Pikachu", "Mouse", 13, NULL, 9, NULL, 31, 0.4, 6.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (26, "Raichu", "Mouse", 13, NULL, 9, NULL, 31, 0.8, 30.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (27, "Sandshrew", "Mouse", 5, NULL, 8, NULL, 146, 0.6, 12.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (28, "Sandslash", "Mouse", 5, NULL, 8, NULL, 146, 1.0, 29.5);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (29, "Nidoran Female", "Poison Pin", 4, NULL, 38, 79, 55, 0.4, 7.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (30, "Nidorina", "Poison Pin", 4, NULL, 38, 79, 55, 0.8, 20.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (31, "Nidoqueen", "Drill", 4, 5, 38, 79, 125, 1.3, 60.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (32, "Nidoran Male", "Poison Pin", 4, NULL, 38, 79, 55, 0.5, 9.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (33, "Nidorino", "Poison Pin", 4, NULL, 38, 79, 55, 0.9, 19.5);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (34, "Nidoking", "Drill", 4, 5, 38, 79, 125, 1.4, 62.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (35, "Clefairy", "Fairy", 18, NULL, 56, 98, 132, 0.6, 7.5);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (36, "Clefable", "Fairy", 18, NULL, 56, 98, 109, 1.3, 40.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (37, "Vulpix", "Fox", 10, NULL, 18, NULL, 70, 0.6, 9.9);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (38, "Ninetales", "Fox", 10, NULL, 18, NULL, 70, 1.1, 19.9);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (39, "Jigglypuff", "Balloon", 1, 18, 56, 172, 132, 0.5, 5.5);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (40, "Wigglytuff", "Balloon", 1, 18, 56, 172, 119, 1.0, 12.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (41, "Zubat", "Bat", 4, 3, 39, NULL, 151, 0.8, 7.5);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (42, "Golbat", "Bat", 4, 3, 39, NULL, 151, 1.6, 55.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (43, "Oddish", "Weed", 12, 4, 34, NULL, 50, 0.5, 5.4);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (44, "Gloom", "Weed", 12, 4, 34, NULL, 1, 0.8, 8.6);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (45, "Vileplume", "Flower", 12, 4, 34, NULL, 27, 1.2, 18.6);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (46, "Paras", "Mushroom", 7, 12, 27, 87, 6, 0.3, 5.4);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (47, "Parasect", "Mushroom", 7, 12, 27, 87, 6, 1.0, 29.5);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (48, "Venonat", "Insect", 7, 4, 14, 110, 50, 1.0, 30.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (49, "Venomoth", "Poison Moth", 7, 4, 19, 110, 147, 1.5, 12.5);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (50, "Diglett", "Mole", 5, NULL, 8, 71, 159, 0.2, 0.8);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (51, "Dugtrio", "Mole", 5, NULL, 8, 71, 159, 0.7, 33.3);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (52, "Meowth", "Scratch Cat", 1, NULL, 53, 101, 127, 0.4, 4.2);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (53, "Persian", "Classy Cat", 1, NULL, 7, 101, 127, 1.0, 32.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (54, "Psyduck", "Duck", 11, NULL, 6, 13, 33, 0.8, 19.6);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (55, "Golduck", "Duck", 11, NULL, 6, 13, 33, 1.7, 76.6);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (56, "Mankey", "Pig Monkey", 2, NULL, 72, 83, 128, 0.5, 28.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (57, "Primeape", "Pig Monkey", 2, NULL, 72, 83, 128, 1.0, 32.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (58, "Growlithe", "Puppy", 10, NULL, 22, 18, 154, 0.7, 19.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (59, "Arcanine", "Legendary", 10, NULL, 22, 18, 154, 1.9, 155.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (60, "Poliwag", "Tadpole", 11, NULL, 11, 6, 33, 0.6, 12.4);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (61, "Poliwhirl", "Tadpole", 11, NULL, 11, 6, 33, 1.0, 20.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (62, "Poliwrath", "Tadpole", 11, 2, 11, 6, 33, 1.3, 54.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (63, "Abra", "Psi", 14, NULL, 28, 39, 98, 0.9, 19.5);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (64, "Kadabra", "Psi", 14, NULL, 28, 39, 98, 1.3, 56.5);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (65, "Alakazam", "Psi", 14, NULL, 28, 39, 98, 1.5, 48.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (66, "Machop", "Superpower", 2, NULL, 62, 99, 80, 0.8, 19.5);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (67, "Machoke", "Superpower", 2, NULL, 62, 99, 80, 1.5, 70.5);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (68, "Machamp", "Superpower", 2, NULL, 62, 99, 80, 1.6, 130.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (69, "Bellsprout", "Flower", 12, 4, 34, NULL, 82, 0.7, 4.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (70, "Weepinbell", "Flycatcher", 12, 4, 34, NULL, 82, 1.0, 6.4);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (71, "Victreebel", "Flycatcher", 12, 4, 34, NULL, 82, 1.7, 15.5);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (72, "Tentacool", "Jellyfish", 11, 4, 29, 64, 44, 0.9, 45.5);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (73, "Tentacruel", "Jellyfish", 11, 4, 29, 64, 44, 1.6, 55.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (74, "Geodude", "Rock", 6, 5, 69, 5, 8, 0.4, 20.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (75, "Graveler", "Rock", 6, 5, 69, 5, 8, 1.0, 105.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (76, "Golem", "Megaton", 6, 5, 69, 5, 8, 1.4, 300.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (77, "Ponyta", "Fire Horse", 10, NULL, 50, 18, 49, 1.0, 30.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (78, "Rapidash", "Fire Horse", 10, NULL, 50, 18, 49, 1.7, 95.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (79, "Slowpoke", "Dopey", 11, 14, 12, 20, 144, 1.2, 36.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (80, "Slowbro", "Hermit Crab", 11, 14, 12, 20, 144, 1.6, 78.5);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (81, "Magnemite", "Magnet", 13, 9, 42, 5, 148, 0.3, 6.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (82, "Magneton", "Magnet", 13, 9, 42, 5, 148, 1.0, 60.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (83, "Farfetch'd", "Wild Duck", 1, 3, 51, 39, 128, 0.8, 15.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (84, "Doduo", "Twin Bird", 1, 3, 50, 48, 77, 1.4, 39.2);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (85, "Dodrio", "Triple Bird", 1, 3, 50, 48, 77, 1.8, 85.2);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (86, "Seel", "Sea Lion", 11, NULL, 47, 93, 115, 1.1, 90.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (87, "Dewgong", "Sea Lion", 11, 15, 47, 93, 115, 1.7, 120.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (88, "Grimer", "Sludge", 4, NULL, 1, 60, 143, 0.9, 30.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (89, "Muk", "Sludge", 4, NULL, 1, 60, 143, 1.2, 30.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (90, "Shellder", "Bivalve", 11, NULL, 75, 92, 142, 0.3, 4.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (91, "Cloyster", "Bivalve", 11, 15, 75, 92, 142, 1.5, 132.5);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (92, "Gastly", "Gas", 8, 4, 26, NULL, NULL, 1.3, 0.1);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (93, "Haunter", "Gas", 8, 4, 26, NULL, NULL, 1.6, 0.1);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (94, "Gengar", "Shadow", 8, 4, 130, NULL, NULL, 1.5, 40.5);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (95, "Onix", "Rock Snake", 6, 5, 69, 5, 133, 8.8, 210.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (96, "Drowzee", "Hypnosis", 14, NULL, 15, 108, 39, 1.0, 32.4);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (97, "Hypno", "Hypnosis", 14, NULL, 15, 108, 39, 1.6, 75.6);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (98, "Krabby", "River Crab", 11, NULL, 52, 75, 125, 0.4, 6.5);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (99, "Kingler", "Pincer", 11, NULL, 52, 75, 125, 1.3, 60.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (100, "Voltorb", "Ball", 13, NULL, 43, 9, 106, 0.5, 10.4);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (101, "Electrode", "Ball", 13, NULL, 43, 9, 106, 1.2, 66.6);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (102, "Exeggcute", "Egg", 12, 14, 34, NULL, 139, 0.4, 2.5);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (103, "Exeggutor", "Coconut", 12, 14, 34, NULL, 139, 2.0, 120.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (104, "Cubone", "Lonely", 5, NULL, 69, 31, 4, 0.4, 6.5);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (105, "Marowak", "Bone Keeper", 5, NULL, 69, 31, 4, 1.0, 45.0);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (106, "Hitmonlee", "Kicking", 2, NULL, 7, 120, 84, 1.5, 49.8);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (107, "Hitmonchan", "Punching", 2, NULL, 51, 89, 39, 1.4, 50.2);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (108, "Lickitung", "Licking", 1, NULL, 20, 12, 13, 1.2, 65.5);
INSERT INTO Pokemon (dexNum, name, species, type1, type2, ability1ID, ability2ID, hiddenAbilityID, height, weight) VALUES (109, "Koffing", "Poison Gas", 4, NULL, 26, 256, 1, 0.6, 1.0);